.jumbo-main {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4)), url("../img/slide2d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-shadow: 4px 4px 4px #000000;
    /* box-shadow: -0px -100px 100px  10px rgba(0, 0, 0, 0.5) inset; */
    height: 350px;
    box-shadow: 0px 0px 200px 200px rgba(52, 51, 51, 0.1);

}
.jumbo-logo{
    text-shadow: 4px 4px 4px #000000;
}
.jumbotext{
    font-size: 24px;

}
.row-jumbo {
    padding-top: 0px !important;
}

@media (max-width: 640px) {
    .row-jumbo {
        padding-top: 20px !important;

    }
    .jumbo-main {
/* box-shadow: -0px -100px 100px  10px rgba(0, 0, 0, 0.5) inset; */
        height: 20vh;

    }
    .header-h2{
        margin-top: 0 !important;
    }
    .jumbo-main{
        padding-top: 20px !important;
    }
}
