

.filter-container{

    height: 740px;
    border: 1px solid rgb(106, 102, 102);
    border-radius: 10px;
    padding-top: 20px;
   
   
}


@media (max-width: 640px) {
    .container-main {
        display: none;
    }

}